/*html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-image: linear-gradient(#5b1492, #882973, #ce7eb5);
}*/

.btn {
    text-align: center;
    position: relative;
    top: 3%;
  //  left: 2%;
  //  zoom: 1.5;
  }
  
  button {
    border-radius: 5px;
    background-color: grey;
    outline: none;
  }
  
  button:hover {
    background-color: white;
  }
  
  .modals {
    z-index: 1;
    width: auto;
    left: 45%;
    height: auto;
    background-color: rgba(0, 0, 0, 0.25);
    background-image: white;
  }
  
  .modals_content {
    background-color: white;
    position: absolute;
    top: 52%;
    left: 35%;
    width: 20%;
    padding: 20px;
  // background-color: rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    background-image: white;
    border: 2px solid black;
  }
  
  .close {
    color: Black;
    float: right;
  }
  
  .close:hover {
    color: cyan;
    cursor: pointer;
  }